@import '../../../../style/responsive.scss';

:host {
	justify-content: flex-end;
	display: flex;
	flex-direction: column;
	align-content: flex-end;
	flex: auto;
	flex-flow: row;
	align-self: flex-end;
	align-items: center;
	height: 100%;

	#timer {
		@include respond-to(small, medium) {
			//display: none;
		}
		color: rgba($color: #000000, $alpha: 0.3);
	}

	#name {
		@include respond-to(small, medium) {
			//display: none;
		}
		margin-left: 1rem;
	}

	#avatar {
		margin-right: 1rem;
		margin-left: 1rem;
	}
}
