@import '../../../style/responsive.scss';

:host {
	form {
		font-size: 1em;
		background-color: rgba($color: #000000, $alpha: 0.08);
		box-shadow: inset 0 0 100rem 0 rgba(0, 0, 0, 0.096);
		padding: 1em;
		display: grid;
		grid-gap: 1em;
		min-width: fit-content;
		//grid-auto-rows: minmax(25px, auto);
		//grid-template-rows: repeat(auto-fill, minmax(1em, 8em));

		#username-field {
			grid-column: 1;
			grid-row: 1;
		}

		@include respond-to(medium, small) {
			#password-field {
				grid-column: 1;
				grid-row: 2;
			}

			#login {
				grid-column: 1;
				grid-row: 3;
			}

			#register {
				grid-column: 1;
				grid-row: 4;
			}
		}
		@include respond-to(large) {
			#password-field {
				grid-column: 2;
				grid-row: 1;
			}

			#login {
				grid-column: 2;
				grid-row: 2;
			}

			#register {
				grid-column: 1;
				grid-row: 2;
			}
		}
	}
	bottom: 1rem;
	width: 100%;
	position: absolute;
}
