<form
	#f="ngForm"
	[formGroup]="loginForm"
	(submit)="doLogin(f)"
	(keydown.enter)="!f.valid && !f.form.controls['user'].controls['username'].valid ? registerButton.focus() : $event"
>
	<app-user-form
		id="user-group"
		#userForm
		[parent]="loginForm"
		[confirmNeeded]="false"
		[requireExisting]="true"
	></app-user-form>
	<button
		id="login"
		type="submit"
		mat-flat-button
		[ngClass]="{
			lit: f.valid || f.form.controls['user'].controls['username'].valid
		}"
		[disabled]="!loginForm.valid"
	>
		Login
	</button>
	<button
		id="register"
		#registerButton
		type="button"
		mat-flat-button
		[ngClass]="{
			lit: !f.valid && !f.form.controls['user'].controls['username'].valid
		}"
		[routerLink]="['register']"
		(click)="initRegistration()"
	>
		Register
	</button>
</form>
