:host {
	height: 100%;
	display: grid;
	align-items: center;
	align-self: center;

	grid-template-columns: 1fr 1fr 1fr;

	#timer {
		grid-column: 1;
	}

	#person {
		grid-column: 2;
		display: grid;
		grid-template-columns: 1fr 1fr;
		#avatar {
			grid-column: 1;
		}
		#name {
			grid-column: 2;
		}
	}

	#logout {
		margin-left: auto;
		margin-right: 0;
	}
}
