:host {
	width: 100%;
	height: 100%;
	margin-top: 1rem;
	div {
		display: grid;
		margin: 1em;
		h1 {
			grid-column: 1;
			grid-row: 1;
			margin: 1rem;
		}

		button {
			position: relative;
			align-self: center;
			justify-self: end;
			margin: 1rem;
			width: 7rem;
			height: 3rem;
			grid-column: 2;
			grid-row: 1;
		}

		form {
			grid-column: 1 / 3;
			grid-row: 2;
		}
	}
}
