<ng-progress #progressBar></ng-progress>

<mat-toolbar color="primary" [@expand]="navSize()">
	<mat-toolbar-row id="mainBar">
		<h1 [@expandTitle]="navSize()">{{ title }}</h1>

		<div id="user">
			<ng-template [appLoading]="auth.login$ | async">
				<div [@expandReg]="navSize()" class="fixed-bottom fixed-right">
					<router-outlet name="register"></router-outlet>
				</div>

				<app-login
					class="fixed-bottom fixed-right"
					*ngIf="auth.user === undefined"
					[@expandMain]="navSize()"
				></app-login>

				<app-user
					[user]="auth.user"
					*ngIf="auth.user !== undefined"
				></app-user>
			</ng-template>
		</div>
	</mat-toolbar-row>
</mat-toolbar>
<div id="content">
	<div><router-outlet #outlet="outlet"></router-outlet></div>
	<div id="devtools">
		<button id="whoami" mat-flat-button (click)="whoami()">
			Log current user
		</button>
	</div>
	<div id="a"></div>
	<div id="b"></div>

	<app-lorem></app-lorem>

	<app-lorem></app-lorem>

	<app-lorem></app-lorem>

	<app-lorem></app-lorem>
	<app-lorem></app-lorem>

	<app-lorem></app-lorem>

	<app-lorem></app-lorem>

	<app-lorem></app-lorem><app-lorem></app-lorem>

	<app-lorem></app-lorem>

	<app-lorem></app-lorem><app-lorem></app-lorem>

	<app-lorem></app-lorem>

	<app-lorem></app-lorem><app-lorem></app-lorem>

	<app-lorem></app-lorem>

	<app-lorem></app-lorem>
</div>
