<ng-progress #progressBar></ng-progress>
<mat-toolbar color="primary" [@expand]="auth.user === undefined ? 'open' : 'closed'">
	<h1>{{ title }}</h1>
	<div id="user" class="width-100 height-100">
		<ng-template [appLoading]="auth.login$ | async">
			<app-login *ngIf="auth.user === undefined"></app-login>
			<app-user [user]="auth.user" *ngIf="auth.user !== undefined"></app-user>
		</ng-template>
	</div>
</mat-toolbar>

<router-outlet> Welcome </router-outlet>

<div id="devtools">
	<button (click)="whoami()">ellele</button>

	<button id="refresh" mat-flat-button (click)="auth.refresh()">REFREEE</button>

	<button id="whoami" mat-flat-button (click)="whoami()">WHOIREALLYAM</button>
</div>
