:host {
	mat-toolbar {
		display: grid;
		height: auto;
		overflow: auto;
		grid-template-columns: repeat(auto-fit, minmax(20rem, auto));
		grid-template-rows: repeat(auto-fit, minmax(5rem, auto));
		//grid-template-rows: 1fr 1fr;
		h1 {
			color: rgba($color: rgb(199, 244, 255), $alpha: 0.5);
			font-size: 2rem;
			max-width: 20vw;
			transition: font-size 500ms;
		}

		#user {
			position: relative;
			height: 100%;
		}
	}
}
