<form [formGroup]="registrationForm" (submit)="register()">
	<app-user-form
		id="user-group"
		[parent]="registrationForm"
		[confirmNeeded]="true"
		[requireExisting]="false"
	></app-user-form>
	<app-person [parent]="registrationForm"> </app-person>
	<mat-error *ngIf="registrationForm.errors && registrationForm.errors['username_not_available']">
		Username not available
	</mat-error>
	<button id="registerButton" mat-flat-button type="submit" [disabled]="!registrationForm.valid">Register</button>
</form>
