@import '../../../../style/responsive.scss';

:host {
	width: 100%;
	form {
		background-color: rgba($color: #000000, $alpha: 0.38);
		//box-shadow: inset 0 0 100rem 100rem rgba(0, 0, 0, 0.15);
		padding: 1em;
		display: grid;
		grid-gap: 1rem;

		//min-width: fit-content;
		//grid-auto-rows: minmax(25px, auto);
		//grid-template-rows: repeat(auto-fill, minmax(1em, 8em));

		#user-group {
			grid-column: 1 / 3;
			grid-row: 1;
		}

		@include respond-to(medium, small) {
			grid-template-columns: 1fr;

			#user {
				grid-column: 1;
			}

			#login {
				grid-column: 1;
				grid-row: 3;
			}

			#register {
				grid-column: 1;
				grid-row: 4;
			}
		}
		@include respond-to(large) {
			grid-template-columns: 1fr 1fr;

			#login {
				grid-column: 2;
				grid-row: 2;
			}

			#register {
				grid-column: 1;
				grid-row: 2;
			}
		}
	}
}
