<div [formGroup]="parent">
	<div formGroupName="movie">
		<mat-form-field hideRequiredMarker id="movie-form">
			<input matInput formControlName="title" placeholder="Title" [(focus)]="titleFocused" />

			<mat-error *ngIf="movie.controls['title']?.dirty && movie.controls['title']?.errors?.required">
				Reqired
			</mat-error>

			<mat-error
				*ngIf="
					(parent?.errors && (parent?.errors)['title_not_available']) ||
					(movie.controls['title'].value && movie.controls['title'].invalid && movie.controls['title'].dirty)
				"
			>
				Movie with title already exists
			</mat-error>

			<mat-spinner *ngIf="movie.controls['title']?.pending" color="accent" diameter="20" matSuffix></mat-spinner>
		</mat-form-field>

		<mat-form-field>
			<input matInput formControlName="release" placeholder="Release" [matDatepicker]="releaseDatePicker" />
			<mat-datepicker-toggle matSuffix [for]="releaseDatePicker"></mat-datepicker-toggle>
			<mat-datepicker #releaseDatePicker></mat-datepicker>
		</mat-form-field>

		<h2>Actors:</h2>
		<app-person [parent]="actor" *ngFor="let actor of formActors.controls"></app-person>

		<button #addActorButton type="button" mat-flat-button (click)="addActor()">
			<fa-icon icon="plus" size="lg" transform="down-0 left-2"></fa-icon> Add Actor
		</button>
	</div>
</div>
