:host {
	display: grid;
	//flex-direction: row;
	//overflow: hidden;
	//flex-grow: 1;
	margin: 1em;
	width: calc(100% - 1rem);
	h1 {
		grid-row: 1;
		grid-column: 1;
		margin: 1em;
	}
	button {
		position: relative;
		align-self: center;
		justify-self: end;
		margin: 1rem;
		width: 7rem;
		height: 3rem;
		grid-column: 2;
		grid-row: 1;
	}
	ag-grid-angular {
		//margin: 1em;
		width: 100%;
		height: 80vh;
		grid-row: 2;
		grid-column: 1 / 3;
	}
}
